.square{
  width: var(--square-size);
  height: var(--square-size);
  background-color: #757280;
  background: #ddd;
  border: 2px solid #999;
  float: left;
  font-size: calc(var(--square-size) - 6vmin);
  font-weight: bold;
  padding: 0;
  text-align: center;
}
.winsquare{
  background-color: #76cbd2;
}
.square:focus {
  outline: none;
  background: #eee;
}